body {
    font-family: Impact;
    background-color: black;
  }
  
  .dungeonname {
    font-size: 30px;
    text-align: center;
    color: antiquewhite;
  }
  
  .entry {
    position: relative;
    height: 200px;
    border: 1px solid black;
    background-image: url(../img/backgrnd.jpg);
  }

  .entry h1 {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
  }

  .entry p {
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0%;
  }
  
  .description {
    padding: 10px;
    color: antiquewhite;
  }
  
  #LeftDoor {
    width: 50px;
    height: 100px;  
    display: inline-block;
    background-color: rgb(27, 17, 2);
    border: 10px ridge rgb(27, 26, 24);
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 10px;
    color: rgb(75, 75, 75);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 10px;
  }
  
  #RightDoor {
    width: 50px;
    height: 100px;  
    display: inline-block;
    background-color:rgb(27, 17, 2);
    border: 10px ridge rgb(27, 26, 24);
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 10px;
    color: rgb(75, 75, 75);
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 10px;
  
  }
