body {
    font-family: 'Permanent Marker', cursive;
    background: url("../img/red.png") no-repeat;
    background-size: cover;
    position: relative;
    color: antiquewhite;
    text-align: center;
    margin-top: 10%;
}