body {
  background: url("../img/dungeon-background-1920x1080.jpg") no-repeat;
    background-size: cover;
    position: relative;
    color: antiquewhite;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}


footer {

  font-family: 'Times New Roman', Times, serif;
  margin-top: 70px;
}

.Title {
margin-top: 50px;
margin-bottom: 50px;
}

h1 {
  
font-size: 50px;

}
nav ul li a {
  color: rgb(39, 118, 236);
  text-decoration: none;
  list-style-type: none;

}
nav ul li a:hover, current{
color: rgb(192, 226, 226);
}
