body {
  background: url("../img/dungeon-background-1920x1080.jpg") no-repeat;
    background-size: cover;
    position: relative;
    color: antiquewhite;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

   /* zmieniamy a ktore jest wewnatrz li/ul/nav */
footer ul li {
  list-style-type: none;
}

footer {

  font-family: 'Times New Roman', Times, serif;
}

.Title {
margin-top: 50px;
margin-bottom: 70px;
  

}

.Date {
  

}

footer {

  margin-top: 150px;
}